.josesaranda-app {
  height: 100vh;
  width: 100%;

  .josesaranda-main {
    width: calc(100% - 350px);
    padding: 16px;
    float: left;

    @media (max-width: 768px){
      width: 100%;
    }
  }
}